@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,300,400,500,700,800,900|Rock+Salt');

body {
    background: #767de4;
}

.main {
    position: fixed center;
    max-width: 60em;
    min-width: 30em;
    padding: 2em;
    margin-left: 15em;
    margin: auto;
    
}

.main h1{
    font-family: 'Rock Salt', cursive;
}

.blog {
    border: 13px solid black;
    padding: 3em;
    background: #F2F2F2;
}

.story span{
    color: #AC3655;
    font-weight: 900;

}
.story p{
    font-weight: 500;
    width: 40em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.story td{
    padding-right: 3em;
}

.story i{
    font-size: 3em;
}
.search {
    text-align: right;
}
.search input{
    border: 1px solid grey;
    padding: 0.5em;
    background: white
}

.search input[type="button"]:hover{
    background: grey;
}

.story .comment {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 300;
    
}
.story .date {
    font-size: .80em;
    font-weight: 500;
}

.story .date i{
    font-size: 1em;
    padding-left: auto;
}